<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ContentFolder3D" value="Models/" />
		<add key="ContentFolder3DPowerUps" value="Models/powerups/" />
		<add key="ContentFolderEffects" value="Effects/" />
		<add key="ContentFolderMusic" value="Music/" />
		<add key="ContentFolderSounds" value="Sounds/" />
		<add key="ContentFolderSpriteFonts" value="SpriteFonts/" />
		<add key="ContentFolderTextures" value="Textures/" />
	</appSettings>
</configuration>